<a href="https://colab.research.google.com/github/lfr4704/lambdata-dspt5/blob/master/my_python_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -i https://test.pypi.org/simple/ lfr-lambdata-pt5

Looking in indexes: https://test.pypi.org/simple/
Collecting lfr-lambdata-pt5
  Downloading https://test-files.pythonhosted.org/packages/44/ee/98a25b6beea1d5bb2d5a9c71e4a2eb8e2ad1e433c7f37201bc4da7f9b129/lfr_lambdata_pt5-1.1-py3-none-any.whl
Installing collected packages: lfr-lambdata-pt5
Successfully installed lfr-lambdata-pt5-1.1

In [2]:
from my_lambdata.my_mod import enlarge #import method from module 

x = 11
print(enlarge(x))

1100

#Test State Abbreviation function

In [4]:
import pandas as pd
from my_lambdata.assignment import add_state_name # import method from module
import numpy as np

abbrev_df = pd.DataFrame({"abbrev": ["CA", "CO", "CT", "WA", "TX"]})

abbrev_df2=add_state_name(abbrev_df)

abbrev_df2.head()

  abbrev   state_name
0     CA   CALIFORNIA
1     CO     COLORADO
2     CT  CONNECTICUT
3     WA   WASHINGTON
4     TX        TEXAS

#Test timestamp abbreviation function

In [10]:
from my_lambdata.assignment import split_timestamp #import method from module

df3 = pd.DataFrame({"timestamp":["2010-01-04", "2012-05-04", "2008-11-02"]})

df_timestamp_split = split_timestamp(df3)

df_timestamp_split.head()

   timestamp  year  month  day
0 2010-01-04  2010      1    4
1 2012-05-04  2012      5    4
2 2008-11-02  2008     11    2